<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<form class="input-form">
  <mat-form-field class="input">
    <input matInput placeholder="ID">
  </mat-form-field>
  <mat-form-field class="input">
    <input matInput placeholder="姓名">
  </mat-form-field>
  <mat-form-field class="input">
    <input matInput placeholder="分機">
  </mat-form-field>
  <mat-form-field class="input">
    <input matInput placeholder="公務機簡碼">
  </mat-form-field>
  <mat-form-field class="input">
    <input matInput placeholder="座位">
  </mat-form-field>
  <button mat-raised-button>新增</button>
</form>

<mat-grid-list cols="4" rowHeight="200px">
  <mat-grid-tile *ngFor="let seat of seats">
    <mat-card class="seat-tile">
      <mat-card-title>
        {{seat.userName}}
      </mat-card-title>
      <mat-card-content>
        <p>Ext: {{ seat.extension }}</p>
        <p>Phone: {{ seat.phone }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn">刪除</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

