<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="ida:ClientId" value="39dd26f0-2a50-464f-b6a6-f6a9f6d60413" />
    <add key="ida:ADFSDiscoveryDoc" value="https://adfs2016.southeastasia.cloudapp.azure.com/adfs/.well-known/openid-configuration" />
    <add key="ida:PostLogoutRedirectUri" value="https://localhost:44398" />-->
    <add key="ida:ClientId" value="e1cf1ac7-0462-4b48-bc99-b8d425a2d2e3" />
    <add key="ida:ADFSDiscoveryDoc" value="https://adfs2016.southeastasia.cloudapp.azure.com/adfs/.well-known/openid-configuration" />
    <add key="ida:RedirectUri" value="https://localhost:44398" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
