<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:Authority" value="https://adfs2016.southeastasia.cloudapp.azure.com/adfs/" />
    <add key="ida:ClientId" value="e1cf1ac7-0462-4b48-bc99-b8d425a2d2e3" />
    <add key="ida:RedirectUri" value="https://wpf" />
    <add key="primaryApi:ResourceId" value="https://localhost:44326" />
    <add key="primaryApi:BaseAddress" value="https://localhost:44326" />
  </appSettings>
</configuration>